USE [master]
GO
/****** Object:  Database [Кинотеатр ]    Script Date: 26.11.2025 16:14:49 ******/
CREATE DATABASE [Кинотеатр ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Кинотеатр', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Кинотеатр .mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Кинотеатр _log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Кинотеатр _log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Кинотеатр ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Кинотеатр ]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ГенерироватьНомерБилета]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_ГенерироватьНомерБилета]
(
    @Код_бронирования INT
)
RETURNS NVARCHAR(50)
AS
BEGIN
    DECLARE @Номер NVARCHAR(50);
    DECLARE @Дата NVARCHAR(8);
    DECLARE @Время NVARCHAR(6);
    
    SET @Дата = CONVERT(NVARCHAR(8), GETDATE(), 112); -- YYYYMMDD
    SET @Время = REPLACE(CONVERT(NVARCHAR(8), GETDATE(), 108), ':', ''); -- HHMMSS
    
    SET @Номер = 'TICKET-' + @Дата + '-' + RIGHT('000000' + CAST(@Код_бронирования AS NVARCHAR), 6);
    
    RETURN @Номер;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ДлительностьЧасы]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ДлительностьЧасы](@Название NVARCHAR(150))
RETURNS DECIMAL(5,2)
AS
BEGIN
    DECLARE @Результат DECIMAL(5,2)

    SELECT @Результат = CAST(f.Длительность AS DECIMAL(5,2)) / 60
    FROM Фильмы f
    WHERE f.Наименование = @Название

    RETURN ISNULL(@Результат, 0)
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ЗалЗанят]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ЗалЗанят]
(
    @НомерЗала INT,
    @Дата DATE,
    @Время TIME
)
RETURNS NVARCHAR(50)
AS
BEGIN
    DECLARE @Результат NVARCHAR(50)

    IF EXISTS (
        SELECT 1
        FROM Репертуар r
        JOIN Сеанс s ON r.Код_сеанса = s.Код_сеанса
        WHERE s.Номер_зала = @НомерЗала
          AND r.Дата = @Дата
          AND @Время BETWEEN r.Время_начала AND r.Время_окончания
    )
        SET @Результат = N'Зал занят'
    ELSE
        SET @Результат = N'Зал свободен'

    RETURN @Результат
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_ОписаниеФильма]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ОписаниеФильма](@Название NVARCHAR(150))
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @Описание NVARCHAR(MAX)

    SELECT @Описание = CONCAT(
        'Фильм: ', f.Наименование, CHAR(10),
        'Жанр: ', j.Наименование, CHAR(10),
        'Длительность: ', f.Длительность, ' мин.', CHAR(10),
        'Возрастное ограничение: ', f.Возрастные_ограничения
    )
    FROM Фильмы f
    JOIN Жанры j ON f.Код_жанра = j.Код_жанра
    WHERE f.Наименование = @Название

    RETURN @Описание
END;
GO
/****** Object:  Table [dbo].[Фильмы]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Фильмы](
	[Код_фильма] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](200) NOT NULL,
	[Код_жанра] [int] NULL,
	[Длительность] [int] NULL,
	[Фирма_производитель] [nvarchar](100) NULL,
	[Страна_производитель] [nvarchar](100) NULL,
	[Актёры] [nvarchar](max) NULL,
	[Возрастные_ограничения] [nvarchar](20) NULL,
	[Описание] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_фильма] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сеанс]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сеанс](
	[Код_сеанса] [int] IDENTITY(1,1) NOT NULL,
	[Код_фильма] [int] NOT NULL,
	[Номер_зала] [int] NOT NULL,
	[Дата] [date] NOT NULL,
	[Время_начала] [time](7) NOT NULL,
	[Время_окончания] [time](7) NOT NULL,
	[Цена_билета] [decimal](10, 2) NOT NULL,
	[Код_сотрудника] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_сеанса] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Репертуар]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Репертуар] AS
SELECT 
    Код_сеанса,
    Дата,
    Время_начала,
    Время_окончания,
    Цена_билета
FROM Сеанс;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_РасписаниеФильмов]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_РасписаниеФильмов]()
RETURNS TABLE
AS
RETURN
(
    SELECT 
        f.Наименование AS Фильм,
        f.Длительность,
        f.Фирма_производитель,
        f.Страна_производитель,
        f.Актёры,
        f.Возрастные_ограничения,
        r.Дата,
        r.Время_начала,
        r.Время_окончания,
        r.Цена_билета,
        s.Номер_зала,
        s.Занятость,
        s.Код_сотрудника
    FROM 
        Репертуар r
        INNER JOIN Сеанс s ON r.Код_сеанса = s.Код_сеанса
        INNER JOIN Фильмы f ON s.Код_фильма = f.Код_фильма
);
GO
/****** Object:  Table [dbo].[Жанры]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Жанры](
	[Код_жанра] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](100) NOT NULL,
	[Описание] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_жанра] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Залы]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Залы](
	[Номер_зала] [int] NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
	[Количество_мест] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Номер_зала] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_РасписаниеФильмовПоЖанру]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_РасписаниеФильмовПоЖанру](@Жанр NVARCHAR(100))
RETURNS TABLE
AS
RETURN
(
    SELECT 
        f.Наименование AS Фильм,
        j.Наименование AS Жанр,
        f.Длительность,
        f.Фирма_производитель,
        f.Страна_производитель,
        f.Актёры,
        f.Возрастные_ограничения,
        r.Дата,
        r.Время_начала,
        r.Время_окончания,
        r.Цена_билета,
        z.Наименование AS Зал,
        s.Занятость
    FROM 
        Фильмы f
        INNER JOIN Жанры j ON f.Код_жанра = j.Код_жанра
        INNER JOIN Сеанс s ON f.Код_фильма = s.Код_фильма
        INNER JOIN Репертуар r ON s.Код_сеанса = r.Код_сеанса
        INNER JOIN Залы z ON s.Номер_зала = z.Номер_зала
    WHERE 
        j.Наименование = @Жанр
);

GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[Код_сотрудника] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](150) NOT NULL,
	[Возраст] [int] NULL,
	[Пол] [nvarchar](10) NULL,
	[Адрес] [nvarchar](200) NULL,
	[Телефон] [nvarchar](20) NULL,
	[Паспортные_данные] [nvarchar](50) NULL,
	[Код_должности] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Бронирования]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Бронирования](
	[Код_бронирования] [int] IDENTITY(1,1) NOT NULL,
	[Код_пользователя] [int] NOT NULL,
	[Код_сеанса] [int] NOT NULL,
	[Номер_места] [int] NOT NULL,
	[Ряд] [int] NOT NULL,
	[Дата_бронирования] [datetime] NULL,
	[Статус] [nvarchar](20) NULL,
	[Сумма] [decimal](10, 2) NULL,
	[Номер_билета] [nvarchar](50) NULL,
	[Оплачено] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_бронирования] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Билеты]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Билеты] AS
SELECT 
    s.Код_сеанса,
    s.Дата,
    s.Время_начала,
    s.Время_окончания,
    s.Цена_билета,
    f.Наименование AS Фильм,
    s.Номер_зала,
    z.Количество_мест - ISNULL(занятые.Занято, 0) AS Свободных_мест,
    e.ФИО AS Сотрудник
FROM Сеанс s
INNER JOIN Фильмы f ON s.Код_фильма = f.Код_фильма
INNER JOIN Залы z ON s.Номер_зала = z.Номер_зала
INNER JOIN Сотрудники e ON s.Код_сотрудника = e.Код_сотрудника
LEFT JOIN (
    SELECT Код_сеанса, COUNT(*) AS Занято
    FROM Бронирования
    WHERE Статус != N'Отменено'
    GROUP BY Код_сеанса
) занятые ON s.Код_сеанса = занятые.Код_сеанса;

GO
/****** Object:  View [dbo].[vw_Фильтр_Занятые_Места]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Фильтр_Занятые_Места] AS
SELECT 
    s.Код_сеанса,
    f.Наименование AS Фильм,
    s.Дата,
    s.Время_начала,
    s.Цена_билета,
    COUNT(b.Код_бронирования) AS Занятость
FROM Сеанс s
INNER JOIN Фильмы f ON s.Код_фильма = f.Код_фильма
LEFT JOIN Бронирования b ON s.Код_сеанса = b.Код_сеанса AND b.Статус != N'Отменено'
GROUP BY s.Код_сеанса, f.Наименование, s.Дата, s.Время_начала, s.Цена_билета
HAVING COUNT(b.Код_бронирования) > 0;
GO
/****** Object:  View [dbo].[vw_Фильтр_Билеты_На_Определенную_Дату]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Фильтр_Билеты_На_Определенную_Дату] AS
SELECT 
    s.Код_сеанса,
    f.Наименование AS Фильм,
    s.Дата,
    s.Время_начала,
    s.Цена_билета
FROM Сеанс s
INNER JOIN Фильмы f ON s.Код_фильма = f.Код_фильма
WHERE s.Дата = CAST(GETDATE() AS DATE);
GO
/****** Object:  Table [dbo].[Должности]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Должности](
	[Код_должности] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](100) NOT NULL,
	[Оклад] [decimal](10, 2) NOT NULL,
	[Обязанности] [nvarchar](max) NULL,
	[Требования] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_должности] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Отдел_кадров]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Отдел_кадров] AS
SELECT 
    s.Код_сотрудника,
    s.ФИО,
    d.Наименование AS Должность,
    d.Оклад
FROM Сотрудники s
INNER JOIN Должности d
    ON s.Код_должности = d.Код_должности;




GO
/****** Object:  View [dbo].[vw_Список_фильмов]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Список_фильмов] AS
SELECT 
    f.Код_фильма,
    f.Наименование AS Фильм,
    j.Наименование AS Жанр,
    f.Длительность,
    f.Фирма_производитель,
    f.Страна_производитель
FROM Фильмы f
INNER JOIN Жанры j
    ON f.Код_жанра = j.Код_жанра;




GO
/****** Object:  View [dbo].[vw_Фильтр_Сотрудники_Кассиры]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Фильтр_Сотрудники_Кассиры] AS
SELECT 
    s.ФИО,
    d.Наименование AS Должность
FROM Сотрудники s
INNER JOIN Должности d
    ON s.Код_должности = d.Код_должности
WHERE d.Наименование = N'Кассир';





GO
/****** Object:  View [dbo].[vw_Фильтр_Фильмы_Комедии]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Фильтр_Фильмы_Комедии] AS
SELECT 
    f.Наименование AS Фильм,
    j.Наименование AS Жанр
FROM Фильмы f
INNER JOIN Жанры j
    ON f.Код_жанра = j.Код_жанра
WHERE j.Наименование = N'Комедия';






GO
/****** Object:  Table [dbo].[История_транзакций]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[История_транзакций](
	[Код_транзакции] [int] IDENTITY(1,1) NOT NULL,
	[Код_пользователя] [int] NOT NULL,
	[Код_бронирования] [int] NULL,
	[Тип_операции] [nvarchar](50) NOT NULL,
	[Сумма] [decimal](10, 2) NOT NULL,
	[Дата_транзакции] [datetime] NULL,
	[Описание] [nvarchar](500) NULL,
	[Дата_операции] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_транзакции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Лог_Фильмов]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Лог_Фильмов](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Код_фильма] [int] NULL,
	[Действие] [nvarchar](20) NULL,
	[Дата_время] [datetime] NULL,
	[Старое_описание] [nvarchar](max) NULL,
	[Новое_описание] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Места_в_залах]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Места_в_залах](
	[Код_места] [int] IDENTITY(1,1) NOT NULL,
	[Номер_зала] [int] NOT NULL,
	[Ряд] [int] NOT NULL,
	[Номер_места] [int] NOT NULL,
	[Тип_места] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_места] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[Код_пользователя] [int] IDENTITY(1,1) NOT NULL,
	[Логин] [nvarchar](50) NOT NULL,
	[Пароль_хеш] [nvarchar](256) NOT NULL,
	[Роль] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Телефон] [nvarchar](20) NULL,
	[ФИО] [nvarchar](150) NULL,
	[Дата_регистрации] [datetime] NULL,
	[Активен] [bit] NULL,
	[Баланс] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Бронирования] ON 

INSERT [dbo].[Бронирования] ([Код_бронирования], [Код_пользователя], [Код_сеанса], [Номер_места], [Ряд], [Дата_бронирования], [Статус], [Сумма], [Номер_билета], [Оплачено]) VALUES (1, 3, 1, 7, 5, CAST(N'2025-11-19T17:05:50.857' AS DateTime), N'Отменено', CAST(2500.00 AS Decimal(10, 2)), NULL, 0)
INSERT [dbo].[Бронирования] ([Код_бронирования], [Код_пользователя], [Код_сеанса], [Номер_места], [Ряд], [Дата_бронирования], [Статус], [Сумма], [Номер_билета], [Оплачено]) VALUES (2, 4, 11, 7, 2, CAST(N'2025-11-26T13:54:42.640' AS DateTime), N'Забронировано', CAST(2700.00 AS Decimal(10, 2)), N'TICKET-20251126-000002', 1)
INSERT [dbo].[Бронирования] ([Код_бронирования], [Код_пользователя], [Код_сеанса], [Номер_места], [Ряд], [Дата_бронирования], [Статус], [Сумма], [Номер_билета], [Оплачено]) VALUES (3, 4, 11, 3, 1, CAST(N'2025-11-26T14:05:37.530' AS DateTime), N'Забронировано', CAST(2700.00 AS Decimal(10, 2)), N'TICKET-20251126-000003', 1)
SET IDENTITY_INSERT [dbo].[Бронирования] OFF
GO
SET IDENTITY_INSERT [dbo].[Должности] ON 

INSERT [dbo].[Должности] ([Код_должности], [Наименование], [Оклад], [Обязанности], [Требования]) VALUES (1, N'Администратор', CAST(180000.00 AS Decimal(10, 2)), N'Организация работы кинотеатра, контроль персонала', N'Опыт работы, ответственность')
INSERT [dbo].[Должности] ([Код_должности], [Наименование], [Оклад], [Обязанности], [Требования]) VALUES (2, N'Кассир', CAST(120000.00 AS Decimal(10, 2)), N'Продажа билетов, работа с клиентами и кассой', N'Внимательность, знание ПК')
INSERT [dbo].[Должности] ([Код_должности], [Наименование], [Оклад], [Обязанности], [Требования]) VALUES (3, N'Оператор зала', CAST(100000.00 AS Decimal(10, 2)), N'Проверка билетов, помощь зрителям, контроль чистоты', N'Коммуникабельность, дисциплина')
SET IDENTITY_INSERT [dbo].[Должности] OFF
GO
SET IDENTITY_INSERT [dbo].[Жанры] ON 

INSERT [dbo].[Жанры] ([Код_жанра], [Наименование], [Описание]) VALUES (1, N'Военный ', N'Фильмы с динамичным сюжетом, драками и перестрелками')
INSERT [dbo].[Жанры] ([Код_жанра], [Наименование], [Описание]) VALUES (2, N'Комедия', N'Лёгкие и смешные фильмы для отдыха')
INSERT [dbo].[Жанры] ([Код_жанра], [Наименование], [Описание]) VALUES (3, N'Драма', N'Фильмы с эмоциональной глубиной и сложным сюжетом')
SET IDENTITY_INSERT [dbo].[Жанры] OFF
GO
INSERT [dbo].[Залы] ([Номер_зала], [Наименование], [Количество_мест]) VALUES (1, N'Красный зал', 120)
INSERT [dbo].[Залы] ([Номер_зала], [Наименование], [Количество_мест]) VALUES (2, N'Синий зал', 80)
INSERT [dbo].[Залы] ([Номер_зала], [Наименование], [Количество_мест]) VALUES (3, N'Зеленый зал', 200)
GO
SET IDENTITY_INSERT [dbo].[Лог_Фильмов] ON 

INSERT [dbo].[Лог_Фильмов] ([ID], [Код_фильма], [Действие], [Дата_время], [Старое_описание], [Новое_описание]) VALUES (1, 1, N'UPDATE', CAST(N'2025-10-08T19:39:09.960' AS DateTime), N'Бэтмен сражается с Джокером', N'Новый обновлённый сюжет о приключениях героя.')
INSERT [dbo].[Лог_Фильмов] ([ID], [Код_фильма], [Действие], [Дата_время], [Старое_описание], [Новое_описание]) VALUES (2, 3, N'UPDATE', CAST(N'2025-10-09T06:39:42.427' AS DateTime), N'Воровство идей через сны', N'Новое описание')
SET IDENTITY_INSERT [dbo].[Лог_Фильмов] OFF
GO
SET IDENTITY_INSERT [dbo].[Места_в_залах] ON 

INSERT [dbo].[Места_в_залах] ([Код_места], [Номер_зала], [Ряд], [Номер_места], [Тип_места]) VALUES (1, 1, 1, 1, N'VIP')
INSERT [dbo].[Места_в_залах] ([Код_места], [Номер_зала], [Ряд], [Номер_места], [Тип_места]) VALUES (2, 1, 1, 2, N'VIP')
INSERT [dbo].[Места_в_залах] ([Код_места], [Номер_зала], [Ряд], [Номер_места], [Тип_места]) VALUES (3, 1, 1, 3, N'VIP')
GO
SET IDENTITY_INSERT [dbo].[Места_в_залах] OFF
GO
SET IDENTITY_INSERT [dbo].[Пользователи] ON 

INSERT [dbo].[Пользователи] ([Код_пользователя], [Логин], [Пароль_хеш], [Роль], [Email], [Телефон], [ФИО], [Дата_регистрации], [Активен], [Баланс]) VALUES (1, N'admin', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', N'Администратор', N'admin@cinema.kz', NULL, N'Администратор Системы', CAST(N'2025-11-19T15:12:46.927' AS DateTime), 1, CAST(20000.00 AS Decimal(10, 2)))
INSERT [dbo].[Пользователи] ([Код_пользователя], [Логин], [Пароль_хеш], [Роль], [Email], [Телефон], [ФИО], [Дата_регистрации], [Активен], [Баланс]) VALUES (2, N'user', N'04f8996da763b7a969b1028ee3007569eaf3a635486ddab211d512c85b9df8fb', N'Пользователь', N'user@cinema.kz', NULL, N'Тестовый Пользователь', CAST(N'2025-11-19T15:12:46.927' AS DateTime), 1, CAST(20000.00 AS Decimal(10, 2)))
INSERT [dbo].[Пользователи] ([Код_пользователя], [Логин], [Пароль_хеш], [Роль], [Email], [Телефон], [ФИО], [Дата_регистрации], [Активен], [Баланс]) VALUES (3, N'Rain', N'42a992b49bf01730fb64ece4c4f0d85b656a7f7347c8543de5db51aa26d1ce21', N'Пользователь', N'niaz@gmail.com', N'8 (775) 310-08-70', N'Толеген Нияз', CAST(N'2025-11-19T15:38:19.463' AS DateTime), 1, CAST(20000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Пользователи] OFF
GO
SET IDENTITY_INSERT [dbo].[Сеанс] ON 

INSERT [dbo].[Сеанс] ([Код_сеанса], [Код_фильма], [Номер_зала], [Дата], [Время_начала], [Время_окончания], [Цена_билета], [Код_сотрудника]) VALUES (1, 1, 1, CAST(N'2025-11-25' AS Date), CAST(N'10:00:00' AS Time), CAST(N'12:30:00' AS Time), CAST(2500.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Сеанс] ([Код_сеанса], [Код_фильма], [Номер_зала], [Дата], [Время_начала], [Время_окончания], [Цена_билета], [Код_сотрудника]) VALUES (2, 2, 2, CAST(N'2025-11-25' AS Date), CAST(N'12:00:00' AS Time), CAST(N'14:00:00' AS Time), CAST(2000.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[Сеанс] ([Код_сеанса], [Код_фильма], [Номер_зала], [Дата], [Время_начала], [Время_окончания], [Цена_билета], [Код_сотрудника]) VALUES (3, 3, 3, CAST(N'2025-11-25' AS Date), CAST(N'15:00:00' AS Time), CAST(N'17:30:00' AS Time), CAST(3000.00 AS Decimal(10, 2)), 3)
SET IDENTITY_INSERT [dbo].[Сеанс] OFF
GO
SET IDENTITY_INSERT [dbo].[Сотрудники] ON 

INSERT [dbo].[Сотрудники] ([Код_сотрудника], [ФИО], [Возраст], [Пол], [Адрес], [Телефон], [Паспортные_данные], [Код_должности]) VALUES (1, N'Невмывака Никита', 35, N'Муж', N'г. Астана, ул. Абая, 15', N'87012223344', N'ID1234567', 1)
INSERT [dbo].[Сотрудники] ([Код_сотрудника], [ФИО], [Возраст], [Пол], [Адрес], [Телефон], [Паспортные_данные], [Код_должности]) VALUES (2, N'Анна Викторовна', 28, N'Жен', N'г. Астана, ул. Сейфуллина, 7', N'87019887766', N'ID2233445', 2)
INSERT [dbo].[Сотрудники] ([Код_сотрудника], [ФИО], [Возраст], [Пол], [Адрес], [Телефон], [Паспортные_данные], [Код_должности]) VALUES (3, N'Алексей Андреевич', 22, N'Муж', N'г. Астана, ул. Тургенева, 33', N'87017775522', N'ID3344556', 2)
SET IDENTITY_INSERT [dbo].[Сотрудники] OFF
GO
SET IDENTITY_INSERT [dbo].[Фильмы] ON 

INSERT [dbo].[Фильмы] ([Код_фильма], [Наименование], [Код_жанра], [Длительность], [Фирма_производитель], [Страна_производитель], [Актёры], [Возрастные_ограничения], [Описание]) VALUES (1, N'Тёмный рыцарь', 1, 152, N'Warner Bros', N'США', N'Кристиан Бейл, Хит Леджер', N'16+', N'Новый обновлённый сюжет о приключениях героя.')
INSERT [dbo].[Фильмы] ([Код_фильма], [Наименование], [Код_жанра], [Длительность], [Фирма_производитель], [Страна_производитель], [Актёры], [Возрастные_ограничения], [Описание]) VALUES (2, N'1+1', 3, 112, N'Gaumont', N'Франция', N'Франсуа Клюзе, Омар Си', N'12+', N'История дружбы миллионера и его помощника')
INSERT [dbo].[Фильмы] ([Код_фильма], [Наименование], [Код_жанра], [Длительность], [Фирма_производитель], [Страна_производитель], [Актёры], [Возрастные_ограничения], [Описание]) VALUES (3, N'Начало', 4, 148, N'Warner Bros', N'США', N'Леонардо ДиКаприо, Том Харди', N'16+', N'Новое описание')
SET IDENTITY_INSERT [dbo].[Фильмы] OFF
GO
/****** Object:  Index [UQ__Места_в___582CDE0AE3657016]    Script Date: 26.11.2025 16:14:49 ******/
ALTER TABLE [dbo].[Места_в_залах] ADD UNIQUE NONCLUSTERED 
(
	[Номер_зала] ASC,
	[Ряд] ASC,
	[Номер_места] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Пользова__BC2217D3E0E9DC11]    Script Date: 26.11.2025 16:14:49 ******/
ALTER TABLE [dbo].[Пользователи] ADD UNIQUE NONCLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Бронирования] ADD  DEFAULT (getdate()) FOR [Дата_бронирования]
GO
ALTER TABLE [dbo].[Бронирования] ADD  DEFAULT (N'Забронировано') FOR [Статус]
GO
ALTER TABLE [dbo].[Бронирования] ADD  DEFAULT ((0)) FOR [Оплачено]
GO
ALTER TABLE [dbo].[История_транзакций] ADD  DEFAULT (getdate()) FOR [Дата_транзакции]
GO
ALTER TABLE [dbo].[История_транзакций] ADD  DEFAULT (getdate()) FOR [Дата_операции]
GO
ALTER TABLE [dbo].[Лог_Фильмов] ADD  DEFAULT (getdate()) FOR [Дата_время]
GO
ALTER TABLE [dbo].[Места_в_залах] ADD  DEFAULT (N'Обычное') FOR [Тип_места]
GO
ALTER TABLE [dbo].[Пользователи] ADD  DEFAULT (getdate()) FOR [Дата_регистрации]
GO
ALTER TABLE [dbo].[Пользователи] ADD  DEFAULT ((1)) FOR [Активен]
GO
ALTER TABLE [dbo].[Пользователи] ADD  DEFAULT ((20000.00)) FOR [Баланс]
GO
ALTER TABLE [dbo].[Бронирования]  WITH CHECK ADD FOREIGN KEY([Код_пользователя])
REFERENCES [dbo].[Пользователи] ([Код_пользователя])
GO
ALTER TABLE [dbo].[Бронирования]  WITH CHECK ADD FOREIGN KEY([Код_сеанса])
REFERENCES [dbo].[Сеанс] ([Код_сеанса])
GO
ALTER TABLE [dbo].[История_транзакций]  WITH CHECK ADD FOREIGN KEY([Код_бронирования])
REFERENCES [dbo].[Бронирования] ([Код_бронирования])
GO
ALTER TABLE [dbo].[История_транзакций]  WITH CHECK ADD FOREIGN KEY([Код_пользователя])
REFERENCES [dbo].[Пользователи] ([Код_пользователя])
GO
ALTER TABLE [dbo].[Места_в_залах]  WITH CHECK ADD FOREIGN KEY([Номер_зала])
REFERENCES [dbo].[Залы] ([Номер_зала])
GO
ALTER TABLE [dbo].[Сеанс]  WITH CHECK ADD FOREIGN KEY([Код_сотрудника])
REFERENCES [dbo].[Сотрудники] ([Код_сотрудника])
GO
ALTER TABLE [dbo].[Сеанс]  WITH CHECK ADD FOREIGN KEY([Код_фильма])
REFERENCES [dbo].[Фильмы] ([Код_фильма])
GO
ALTER TABLE [dbo].[Сеанс]  WITH CHECK ADD FOREIGN KEY([Номер_зала])
REFERENCES [dbo].[Залы] ([Номер_зала])
GO
ALTER TABLE [dbo].[Сотрудники]  WITH CHECK ADD FOREIGN KEY([Код_должности])
REFERENCES [dbo].[Должности] ([Код_должности])
GO
ALTER TABLE [dbo].[Фильмы]  WITH CHECK ADD FOREIGN KEY([Код_жанра])
REFERENCES [dbo].[Жанры] ([Код_жанра])
GO
ALTER TABLE [dbo].[Бронирования]  WITH CHECK ADD CHECK  (([Статус]=N'Отменено' OR [Статус]=N'Оплачено' OR [Статус]=N'Забронировано'))
GO
ALTER TABLE [dbo].[Залы]  WITH CHECK ADD CHECK  (([Количество_мест]>(0)))
GO
ALTER TABLE [dbo].[Места_в_залах]  WITH CHECK ADD CHECK  (([Тип_места]=N'Люкс' OR [Тип_места]=N'VIP' OR [Тип_места]=N'Обычное'))
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD CHECK  (([Роль]=N'Администратор' OR [Роль]=N'Пользователь'))
GO
/****** Object:  StoredProcedure [dbo].[АвторизацияПользователя]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[АвторизацияПользователя]
    @Логин NVARCHAR(50),
    @Пароль_хеш NVARCHAR(256)
AS
BEGIN
    SELECT 
        Код_пользователя,
        Логин,
        Роль,
        ФИО,
        Email,
        Баланс
    FROM Пользователи
    WHERE Логин = @Логин 
      AND Пароль_хеш = @Пароль_хеш 
      AND Активен = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[БронированиеБилета]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[БронированиеБилета]
    @Код_пользователя INT,
    @Код_сеанса INT,
    @Ряд INT,
    @Номер_места INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Цена DECIMAL(10,2);
    DECLARE @Баланс DECIMAL(10,2);
    DECLARE @Тип_места NVARCHAR(20);
    DECLARE @Номер_зала INT;
    DECLARE @Новый_код INT;
    DECLARE @Номер_билета NVARCHAR(50);
    
    -- Получаем номер зала и цену из сеанса
    SELECT @Номер_зала = Номер_зала, @Цена = Цена_билета
    FROM Сеанс
    WHERE Код_сеанса = @Код_сеанса;
    
    IF @Цена IS NULL
    BEGIN
        RAISERROR(N'Сеанс не найден!', 16, 1);
        RETURN;
    END
    
    -- Получаем тип места (если таблица Места_в_залах существует)
    IF OBJECT_ID('dbo.Места_в_залах', 'U') IS NOT NULL
    BEGIN
        SELECT @Тип_места = Тип_места
        FROM Места_в_залах
        WHERE Номер_зала = @Номер_зала AND Ряд = @Ряд AND Номер_места = @Номер_места;
    END
    
    IF @Тип_места IS NULL
        SET @Тип_места = N'Обычное';
    
    -- Корректируем цену для VIP мест (надбавка 50%)
    IF @Тип_места = N'VIP'
        SET @Цена = @Цена * 1.5;
    
    -- Проверяем баланс пользователя
    SELECT @Баланс = Баланс FROM Пользователи WHERE Код_пользователя = @Код_пользователя;
    
    IF @Баланс IS NULL
    BEGIN
        RAISERROR(N'Пользователь не найден!', 16, 1);
        RETURN;
    END
    
    IF @Баланс < @Цена
    BEGIN
        RAISERROR(N'Недостаточно средств на балансе!', 16, 1);
        RETURN;
    END
    
    -- Проверяем, не занято ли место
    IF EXISTS (
        SELECT 1 FROM Бронирования 
        WHERE Код_сеанса = @Код_сеанса 
          AND Ряд = @Ряд 
          AND Номер_места = @Номер_места
          AND Статус != N'Отменено'
    )
    BEGIN
        RAISERROR(N'Это место уже забронировано!', 16, 1);
        RETURN;
    END
    
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- Списываем деньги с баланса
        UPDATE Пользователи
        SET Баланс = Баланс - @Цена
        WHERE Код_пользователя = @Код_пользователя;
        
        -- Создаем бронирование
        INSERT INTO Бронирования (Код_пользователя, Код_сеанса, Ряд, Номер_места, 
                                  Дата_бронирования, Статус, Сумма, Оплачено)
        VALUES (@Код_пользователя, @Код_сеанса, @Ряд, @Номер_места, 
                GETDATE(), N'Забронировано', @Цена, 1);
        
        SET @Новый_код = SCOPE_IDENTITY();
        
        -- Генерируем номер билета
        SET @Номер_билета = 'TICKET-' + CONVERT(NVARCHAR(8), GETDATE(), 112) + '-' + 
                            RIGHT('000000' + CAST(@Новый_код AS NVARCHAR), 6);
        
        -- Обновляем номер билета
        UPDATE Бронирования 
        SET Номер_билета = @Номер_билета
        WHERE Код_бронирования = @Новый_код;
        
        COMMIT TRANSACTION;
        
        -- Возвращаем информацию о бронировании
        SELECT @Новый_код AS Код_бронирования, 
               @Номер_билета AS Номер_билета, 
               @Цена AS Сумма;
               
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[ДобавитьФильм]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ДобавитьФильм]
    @Наименование NVARCHAR(100),
    @Код_жанра INT,
    @Длительность INT,
    @Фирма NVARCHAR(100),
    @Страна NVARCHAR(50),
    @Актёры NVARCHAR(200),
    @Возраст NVARCHAR(10),
    @Описание NVARCHAR(300)
AS
BEGIN
    INSERT INTO Фильмы (Наименование, Код_жанра, Длительность, Фирма_производитель, Страна_производитель, Актёры, Возрастные_ограничения, Описание)
    VALUES (@Наименование, @Код_жанра, @Длительность, @Фирма, @Страна, @Актёры, @Возраст, @Описание);
END;
GO
/****** Object:  StoredProcedure [dbo].[ОтменитьБронирование]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ОтменитьБронирование]
    @Код_бронирования INT,
    @Код_пользователя INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Сумма DECIMAL(10,2);
    DECLARE @Статус NVARCHAR(20);
    DECLARE @Владелец INT;
    
    -- Проверяем существование и владельца бронирования
    SELECT @Статус = Статус, @Сумма = Сумма, @Владелец = Код_пользователя
    FROM Бронирования
    WHERE Код_бронирования = @Код_бронирования;
    
    IF @Владелец IS NULL
    BEGIN
        RAISERROR(N'Бронирование не найдено!', 16, 1);
        RETURN;
    END
    
    IF @Владелец != @Код_пользователя
    BEGIN
        RAISERROR(N'Вы не можете отменить чужое бронирование!', 16, 1);
        RETURN;
    END
    
    IF @Статус = N'Отменено'
    BEGIN
        RAISERROR(N'Бронирование уже отменено!', 16, 1);
        RETURN;
    END
    
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- Возвращаем деньги на баланс
        UPDATE Пользователи
        SET Баланс = Баланс + @Сумма
        WHERE Код_пользователя = @Код_пользователя;
        
        -- Обновляем статус бронирования
        UPDATE Бронирования
        SET Статус = N'Отменено', Оплачено = 0
        WHERE Код_бронирования = @Код_бронирования;
        
        COMMIT TRANSACTION;
        
        -- Возвращаем информацию
        SELECT @Код_бронирования AS Код_бронирования, 
               @Сумма AS Возвращено;
               
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[ПолучитьБаланс]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ПолучитьБаланс]
    @Код_пользователя INT
AS
BEGIN
    SELECT Баланс FROM Пользователи WHERE Код_пользователя = @Код_пользователя;
END;
GO
/****** Object:  StoredProcedure [dbo].[ПолучитьБронированияПользователя]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ПолучитьБронированияПользователя]
    @Код_пользователя INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        b.Код_бронирования,
        f.Наименование AS Фильм,
        s.Дата,
        s.Время_начала,
        z.Наименование AS Зал,
        b.Ряд,
        b.Номер_места,
        b.Статус,
        b.Сумма,
        b.Дата_бронирования
    FROM Бронирования b
    INNER JOIN Сеанс s ON b.Код_сеанса = s.Код_сеанса
    INNER JOIN Фильмы f ON s.Код_фильма = f.Код_фильма
    INNER JOIN Залы z ON s.Номер_зала = z.Номер_зала
    WHERE b.Код_пользователя = @Код_пользователя
    ORDER BY s.Дата DESC, s.Время_начала DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[ПолучитьВсеФильмы]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ПолучитьВсеФильмы]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        f.Код_фильма,
        f.Наименование,
        j.Наименование AS Жанр,
        f.Длительность,
        f.Фирма_производитель,
        f.Страна_производитель,
        f.Актёры,
        f.Возрастные_ограничения,
        f.Описание
    FROM Фильмы f
    LEFT JOIN Жанры j ON f.Код_жанра = j.Код_жанра
    ORDER BY f.Наименование;
END;
GO
/****** Object:  StoredProcedure [dbo].[ПолучитьИнфоБилета]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ПолучитьИнфоБилета]
    @Код_бронирования INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        b.Код_бронирования,
        ISNULL(b.Номер_билета, 'TICKET-' + CAST(b.Код_бронирования AS NVARCHAR)) AS Номер_билета,
        f.Наименование AS Фильм,
        j.Наименование AS Жанр,
        f.Длительность,
        f.Возрастные_ограничения,
        s.Дата,
        s.Время_начала,
        s.Время_окончания,
        z.Наименование AS Зал,
        b.Ряд,
        b.Номер_места,
        ISNULL(m.Тип_места, N'Обычное') AS Тип_места,
        b.Сумма,
        b.Дата_бронирования,
        p.ФИО AS Покупатель
    FROM Бронирования b
    INNER JOIN Сеанс s ON b.Код_сеанса = s.Код_сеанса
    INNER JOIN Фильмы f ON s.Код_фильма = f.Код_фильма
    LEFT JOIN Жанры j ON f.Код_жанра = j.Код_жанра
    INNER JOIN Залы z ON s.Номер_зала = z.Номер_зала
    LEFT JOIN Места_в_залах m ON s.Номер_зала = m.Номер_зала 
        AND b.Ряд = m.Ряд AND b.Номер_места = m.Номер_места
    INNER JOIN Пользователи p ON b.Код_пользователя = p.Код_пользователя
    WHERE b.Код_бронирования = @Код_бронирования;
END;
GO
/****** Object:  StoredProcedure [dbo].[ПолучитьОтчетПродаж]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ПолучитьОтчетПродаж]
    @ДатаС DATE = NULL,
    @ДатаПо DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        f.Наименование AS Фильм,
        j.Наименование AS Жанр,
        COUNT(CASE WHEN b.Статус = N'Оплачено' THEN 1 END) AS Продано_билетов,
        COUNT(CASE WHEN b.Статус = N'Забронировано' THEN 1 END) AS Забронировано,
        COUNT(CASE WHEN b.Статус = N'Отменено' THEN 1 END) AS Отменено,
        SUM(CASE WHEN b.Статус = N'Оплачено' THEN b.Сумма ELSE 0 END) AS Выручка,
        AVG(CASE WHEN b.Статус = N'Оплачено' THEN CAST(b.Сумма AS FLOAT) ELSE NULL END) AS Средняя_цена
    FROM Фильмы f
    LEFT JOIN Жанры j ON f.Код_жанра = j.Код_жанра
    LEFT JOIN Сеанс s ON f.Код_фильма = s.Код_фильма
    LEFT JOIN Бронирования b ON s.Код_сеанса = b.Код_сеанса
    WHERE (@ДатаС IS NULL OR s.Дата >= @ДатаС)
      AND (@ДатаПо IS NULL OR s.Дата <= @ДатаПо)
    GROUP BY f.Наименование, j.Наименование
    HAVING COUNT(CASE WHEN b.Статус = N'Оплачено' THEN 1 END) > 0
    ORDER BY Выручка DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[ПолучитьСвободныеМеста]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ПолучитьСвободныеМеста]
    @Код_сеанса INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        m.Ряд,
        m.Номер_места,
        m.Тип_места,
        CASE 
            WHEN b.Код_бронирования IS NOT NULL AND b.Статус != N'Отменено' THEN N'Занято'
            ELSE N'Свободно'
        END AS Статус_места
    FROM Места_в_залах m
    INNER JOIN Сеанс s ON m.Номер_зала = s.Номер_зала
    LEFT JOIN Бронирования b ON s.Код_сеанса = b.Код_сеанса 
        AND m.Ряд = b.Ряд 
        AND m.Номер_места = b.Номер_места
        AND b.Статус != N'Отменено'
    WHERE s.Код_сеанса = @Код_сеанса
    ORDER BY m.Ряд, m.Номер_места;
END;
GO
/****** Object:  StoredProcedure [dbo].[ПолучитьСеансыНаДату]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ПолучитьСеансыНаДату]
    @Дата DATE
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        s.Код_сеанса,
        f.Наименование AS Фильм,
        f.Код_фильма,
        j.Наименование AS Жанр,
        s.Дата,
        s.Время_начала,
        s.Время_окончания,
        s.Цена_билета,
        z.Наименование AS Зал,
        z.Количество_мест,
        z.Количество_мест - ISNULL(занятые.Занято, 0) AS Свободных_мест,
        f.Возрастные_ограничения,
        f.Описание
    FROM Сеанс s
    INNER JOIN Фильмы f ON s.Код_фильма = f.Код_фильма
    LEFT JOIN Жанры j ON f.Код_жанра = j.Код_жанра
    INNER JOIN Залы z ON s.Номер_зала = z.Номер_зала
    LEFT JOIN (
        SELECT Код_сеанса, COUNT(*) AS Занято
        FROM Бронирования
        WHERE Статус != N'Отменено'
        GROUP BY Код_сеанса
    ) занятые ON s.Код_сеанса = занятые.Код_сеанса
    WHERE s.Дата = @Дата
    ORDER BY s.Время_начала;
END;
GO
/****** Object:  StoredProcedure [dbo].[ПополнитьБаланс]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ПополнитьБаланс]
    @Код_пользователя INT,
    @Сумма DECIMAL(10,2)
AS
BEGIN
    UPDATE Пользователи 
    SET Баланс = Баланс + @Сумма 
    WHERE Код_пользователя = @Код_пользователя;
    
    SELECT Баланс FROM Пользователи WHERE Код_пользователя = @Код_пользователя;
END;
GO
/****** Object:  StoredProcedure [dbo].[РегистрацияПользователя]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Процедура регистрации пользователя
CREATE PROCEDURE [dbo].[РегистрацияПользователя]
    @Логин NVARCHAR(50),
    @Пароль_хеш NVARCHAR(256),
    @ФИО NVARCHAR(150),
    @Email NVARCHAR(100),
    @Телефон NVARCHAR(20)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Пользователи WHERE Логин = @Логин)
    BEGIN
        RAISERROR (N'Пользователь с таким логином уже существует', 16, 1);
        RETURN;
    END
    
    INSERT INTO Пользователи (Логин, Пароль_хеш, Роль, ФИО, Email, Телефон)
    VALUES (@Логин, @Пароль_хеш, N'Пользователь', @ФИО, @Email, @Телефон);
END;
GO
/****** Object:  StoredProcedure [dbo].[СеансыНаДату]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[СеансыНаДату]
    @Дата DATE
AS
BEGIN
    SELECT r.Дата,
           r.Время_начала,
           f.Наименование AS [Фильм],
           s.Номер_зала,
           r.Цена_билета
    FROM Репертуар r
    JOIN Сеанс s ON r.Код_сеанса = s.Код_сеанса
    JOIN Фильмы f ON s.Код_фильма = f.Код_фильма
    WHERE r.Дата = @Дата
    ORDER BY r.Время_начала;
END;
GO
/****** Object:  StoredProcedure [dbo].[СеансыСКассирами]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[СеансыСКассирами]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        s.Код_сеанса,
        f.Наименование AS Фильм,
        r.Дата,
        r.Время_начала,
        r.Цена_билета,
        pers.ФИО AS Кассир
    FROM Сеанс s
    JOIN Фильмы f ON s.Код_фильма = f.Код_фильма
    JOIN Репертуар r ON s.Код_сеанса = r.Код_сеанса
    JOIN Сотрудники pers ON s.Код_сотрудника = pers.Код_сотрудника
    WHERE pers.Код_должности = 2;
END
GO
/****** Object:  StoredProcedure [dbo].[СотрудникиПоДолжности]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[СотрудникиПоДолжности]
    @Должность NVARCHAR(50)
AS
BEGIN
    SELECT s.ФИО,
           s.Пол,
           s.Возраст,
           d.Наименование AS [Должность],
           d.Оклад
    FROM Сотрудники s
    JOIN Должности d ON s.Код_должности = d.Код_должности
    WHERE d.Наименование = @Должность;
END;
GO
/****** Object:  StoredProcedure [dbo].[СредняяЦенаБилетов]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[СредняяЦенаБилетов]
    @Дата date = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        'Средняя цена билета' = AVG(Цена_билета)
    FROM Репертуар
    WHERE (@Дата IS NULL OR Дата = @Дата);
END
GO
/****** Object:  StoredProcedure [dbo].[СтатистикаПосещаемости]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Процедура статистики для администратора
CREATE PROCEDURE [dbo].[СтатистикаПосещаемости]
    @ДатаС DATE = NULL,
    @ДатаПо DATE = NULL
AS
BEGIN
    SELECT 
        f.Наименование AS Фильм,
        COUNT(b.Код_бронирования) AS Количество_бронирований,
        SUM(b.Сумма) AS Общая_сумма,
        AVG(CAST(b.Сумма AS FLOAT)) AS Средняя_цена,
        r.Дата
    FROM Фильмы f
    JOIN Сеанс s ON f.Код_фильма = s.Код_фильма
    JOIN Репертуар r ON s.Код_сеанса = r.Код_сеанса
    LEFT JOIN Бронирования b ON r.Код_сеанса = b.Код_сеанса AND b.Статус != N'Отменено'
    WHERE (@ДатаС IS NULL OR r.Дата >= @ДатаС)
      AND (@ДатаПо IS NULL OR r.Дата <= @ДатаПо)
    GROUP BY f.Наименование, r.Дата
    ORDER BY r.Дата DESC, Количество_бронирований DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[ФильмыПоЖанру]    Script Date: 26.11.2025 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ФильмыПоЖанру]
    @Жанр varchar(50) = ''
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        f.Код_фильма,
        f.Наименование,
        j.Наименование AS Жанр,
        f.Длительность,
        f.Фирма_производитель,
        f.Страна_производитель
    FROM Фильмы f
    JOIN Жанры j ON f.Код_жанра = j.Код_жанра
    WHERE j.Наименование = @Жанр;
END
GO
USE [master]
GO
